.dogsherobanner {
    text-align: center;
}
/* .profileBlurb h3 {
    text-align: justify;
    color: black;
  } */

.row h4 {
    text-align: left;
    text-align: justify;
    /* color: #666666; */
    line-height: 1.5em;
}
.row h1 {
    font-weight: bolder;
}
.row h2 {
    font-weight: bolder;
    color: black;
}
/* .row {
    margin: 5% auto;
   
  } */
.vopresponsive {
    width: 100%;
    max-width: 100px;
    height: auto;
}

h4 {
    font-weight: 400;
}

.jumbotron {
    background-color: #6BB5E9;
    color: white;
    z-index: 0;
}


/* Responsive Hero Banner/Jumbotron */
.VOPImageHeader {
    margin: 0;
    padding: 0;
}
.VOPImageHeader img {
    max-width: 100%;
    height: auto;
}

/* hero space jumbotron for dogs */
.dogjumbotron {
    background-color: #6BB5E9;
}
.sectiontitle {
    color: #157EBF;
}
/* row alignment with text */

/* .row1 {
    margin: 5% auto;
    justify-content: center;
  }
.row1:after {
content: "";
display: table;
clear: both;
} */

h3 {
    text-align: left;
}